.container
  .row
    .col-md-6
      %p.copyright-space
        2014 &copy; Ocutec SAC. TODOS los Derechos Reservados. 
        %br
        %small
          Todos los demás nombres y marcas son marcas comerciales registradas de sus respectivas compañías
    .col-md-6
      %a{href: "index.html"}
        = image_tag("VRAI_gray_small.png", id: "logo-footer", :class => "pull-right", alt: "")
