.container
  .row
    .col-md-4.md-margin-bottom-40
      .headline
        %h2
          Sobre Ocutec
      %p.margin-bottom-25.md-margin-bottom-40
        Ocutec SAC es una empresa fundada en el año 2005 dedicada a ofrecer productos de la más alta tecnología que satisfagan las necesidades del mercado óptico del país.
      %p.margin-bottom-25.md-margin-bottom-40
        Nuestro personal ha sido seleccionado con el único objetivo de ofrecerles un verdadero servicio personalizado de asesoramiento constante con el fin de atender cada uno de sus requerimientos.
      
    
    .col-md-8
      .headline
        %h2
          Contáctenos
      %address.md-margin-bottom-40
        Jr. Manuel Irribarren 1325 Surquillo 
        %br
        Lima Perú 
        %br
        Central Telefónica : 618-5555  
        %br
        Email: 
        %a{href: "mailto:servicioalcliente@ocutec.com.pe"}
          servicioalcliente@ocutec.com.pe
                 

      %ul.social-icons
        %li
          %a.social_rss{href: "#", data: {"original-title" => "Feed"}} 
        %li
          %a.social_facebook{href: "#", data: {"original-title" => "Facebook"}} 
        %li
          %a.social_twitter{href: "#", data: {"original-title" => "Twitter"}} 
        %li
          %a.social_googleplus{href: "#", data: {"original-title" => "Goole Plus"}} 
        %li
          %a.social_pintrest{href: "#", data: {"original-title" => "Pinterest"}} 
        %li
          %a.social_linkedin{href: "#", data: {"original-title" => "Linkedin"}} 
        %li
          %a.social_vimeo{href: "#", data: {"original-title" => "Vimeo"}} 
