
.breadcrumbs.margin-bottom-40
  .container
    %h1.pull-left
      Contáctenos
    %ul.pull-right.breadcrumb
      %li 
        = link_to "Inicio", root_path
          
      %li.active
        Contáctenos

#map.map.margin-bottom-40

.container

  .row.margin-bottom-30
    .col-md-9.mb-margin-bottom-30
      .headline
        %h2
          Escríbenos
      %p
        
      %br
      %form
        %label
          Nombre
        .row.margin-bottom-20
          .col-md-7.col-md-offset-0
            %input{type: "text", class: "form-control"}
        
        %label
          Email 
          %span.color-red
            *
        .row.margin-bottom-20 
          .col-md-7.col-md-offset-0 
            %input{type: "text", class: "form-control"}
        
        %label
          Mensaje
        .row.margin-bottom-20 
          .col-md-11.col-md-offset-0 
            %textarea{rows: "8", class: "form-control"}
            
        
        %p
          %button{type: "submit", class: "btn-u"}
            Enviar

        
    .col-md-3 
      .headline
        %h2
          Contacto
      %ul.list-unstyled.who.margin-bottom-30 
        %li
          %a
            %i.icon-home
            Jr. Manuel Irribarren 1325 Surquillo - Lima Perú
        %li
          %a{href: "mailto:servicioalcliente@ocutec.com.pe"}
            %i.icon-envelope-alt
            servicioalcliente@ocutec.com.pe
        %li
          %a
            %i.icon-phone-sign
            618-5555

      .headline 
        %h2
          Horario de Atención
      %ul.list-unstyled.margin-bottom-30 
        %li
          %strong
            Lunes-Viernes:
          9am a 6pm
        %li
          %strong
            Sabado:
          9am a 1pm
        %li
          %strong
            Domingo:
          No hay atención

      .headline 
        %h2
          Estamos en:
      %ul.list-unstyled 
        %li
          %i.icon-ok.color-green
          Lima
        %li
          %i.icon-ok.color-green
          Trujillo
        %li
          %i.icon-ok.color-green
          Arequipa
  
  .headline
    %h2
      Lima
  .row.team
    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Erick Aguilar Soto
          %small
            Representante de Ventas
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:eaguilar@ocutec.com.pe"}
              %i.icon-envelope-alt
              eaguilar@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              99-405-7856
          %li
            %a
              %i.icon-phone-sign
              405*7856 (Nextel)

    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Karol Sanchez Figueroa
          %small
            Representante de Ventas
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:ksanchez@ocutec.com.pe"}
              %i.icon-envelope-alt
              ksanchez@ocutec.com.pe 
          %li
            %a
              %i.icon-phone-sign
              99-816-6581
          %li
            %a
              %i.icon-phone-sign
              816*6581 (Nextel)

    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Alvaro Jacobo
          %small
            Representante de Ventas
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:ajacobo@ocutec.com.pe"}
              %i.icon-envelope-alt
              ajacobo@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              99-423-3396
          %li
            %a
              %i.icon-phone-sign
              423*3396 (Nextel)

    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Guisell Pinto Muratta
          %small
            Consultora Transitions
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:gpinto@ocutec.com.pe"}
              %i.icon-envelope-alt
              gpinto@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              99-835-0992
          %li
            %a
              %i.icon-phone-sign
              835*0992 (Nextel)

  .row.team
    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Rocio Robles Saldarriaga
          %small
            Consultora FutureX
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:rrobles@ocutec.com.pe"}
              %i.icon-envelope-alt
              rrobles@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              99-103-4517
          %li
            %a
              %i.icon-phone-sign
              103*4517 (Nextel)

    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Carmen Nagahama Yara
          %small
            Jefe Servicio al Cliente
        %p
          Oficina Surquillo
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:servicioalcliente@ocutec.com.pe"}
              %i.icon-envelope-alt
              servicioalcliente@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              618-5555
          %li
            %a
              %i.icon-phone-sign
              618-5566 (Fax)
          %li
            %a
              %i.icon-phone-sign
              812*7792 | 812*7323 (Nextel)

    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Susana Tokuda Kina
          %small
            Servicio al Cliente
        %p
          Oficina Surquillo
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:stokuda@ocutec.com.pe"}
              %i.icon-envelope-alt
              stokuda@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              428-4598
          %li
            %a
              %i.icon-phone-sign
              822*6180  (Nextel)
             
  .headline
    %h2
      Trujillo
  .row.team
    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Oficina Trujillo
          %small
            
        %p
          
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:ventastrujillo@ocutec.com.pe"}
              %i.icon-envelope-alt
              ventastrujillo@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              4-420-8907
    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Susana Luna Victoria
          %small
            Representante de Ventas
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a
              %i.icon-phone-sign
              99-423-3405
          %li
            %a
              %i.icon-phone-sign
              423*3405 (Nextel)

  .headline
    %h2
      Arequipa
  .row.team
    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Oficina Arequipa
          %small
            
        %p
          
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a{href: "mailto:ventasarequipa@ocutec.com.pe"}
              %i.icon-envelope-alt
              ventasarequipa@ocutec.com.pe
          %li
            %a
              %i.icon-phone-sign
              5-420-3880
    .col-sm-3
      .thumbnail-style
        %h3
          %a
            Cesar Oviedo Carazas
          %small
            Representante de Ventas
        %ul.list-unstyled.who.margin-bottom-30 
          %li
            %a
              %i.icon-phone-sign
              99-405-7861
          %li
            %a
              %i.icon-phone-sign
              405*7861 (Nextel)


              
