.slider-inner
  #da-slider.da-slider
    .da-slide
      %h2
        %i
          CLEAN &amp; FRESH 
        %br 
        %i 
          FULLY RESPONSIVE 
        %br 
        %i 
          DESIGN
      %p
        %i
          Lorem ipsum dolor amet
        %br
        %i 
          tempor incididunt ut
        %br 
        %i 
          veniam omnis
      .da-img
        = image_tag("parallax-slider/img/1.png", alt: "")

    .da-slide
      %h2
        %i
          RESPONSIVE VIDEO
        %br
        %i
          SUPPORT AND
        %br 
        %i
          MANY MORE
      %p
        %i
          Lorem ipsum dolor amet
        %br 
        %i
          tempor incididunt ut
      .da-img
        %iframe(src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen)

    .da-slide
      %h2
        %i
          USING BEST WEB
        %br
        %i
          SOLUTIONS WITH
        %br
        %i
          HTML5/CSS3
      %p
        %i
          Lorem ipsum dolor amet
        %br
        %i
          tempor incididunt ut
        %i
          veniam omnis 
        .da-img
          = image_tag("parallax-slider/img/html5andcss3.png", alt: "image01") 
    .da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next  



