.breadcrumbs.margin-bottom-40
  .container
    %h1.pull-left
      Transitions
    %ul.pull-right.breadcrumb
      %li
        
        %a{href: root_path}
          %i.icon-home

      %li 
        = link_to "Línea de Productos", root_path
          
      %li.active
        Transitions

.row.margin-bottom-40
  .col-md-12
    #slide-wrapper
      #banner
        .oneByOne_item
          =image_tag "slider1.jpg"

        .oneByOne_item
          =image_tag "slider2.jpg"

.purchase
  .container
    .row
      .col-md-12
        %span
          ¿Qué son?
        %br
        %p
          Los lentes Transitions® contienen tintes fotocrómicos patentados que se activan –u oscurecen– cuando los lentes se exponen a los rayos ultravioletas (UV) del sol. Cuando la luz ultravioleta disminuye, los lentes se vuelven a aclarar. En función de los cambios que se producen en la luz exterior, se ajusta el nivel de coloración para permitir que sólo llegue al ojo la cantidad de luz apropiada. Con ello, los lentes Transitions protegen los ojos de la luz visible reduciendo el deslumbramiento, disminuyendo el nivel de estrés ocular y de fatiga visual y permitiendo distinguir los contrastes más fácilmente.
        %br
        %p
          En cuanto a la luz que no se ve –luz ultravioleta–, los lentes Transitions ayudan a proteger los ojos para mantener una vista sana a largo plazo. Es importante recordar que, con independencia de lo claros u oscuros que se vean, los lentes Transitions bloquean en todo momento el 100% de los rayos UVA y UVB perjudiciales para los ojos. En otras palabras, los lentes Transitions proporcionan protección automática frente a los rayos ultravioletas en cualquier entorno y protegen de forma continua los ojos de la luz que no se ve al tiempo que permiten disfrutar de una visión cómoda y de calidad con la luz que sí se ve.
        %br
        %p
          Los lentes Transitions se empiezan a oscurecer en el momento en que se exponen a la luz ultravioleta. Cuanto mayor sea la intensidad de los rayos ultravioletas, más se oscurecerán los lentes. En el momento en que dejan de estar expuestas a rayos ultravioletas, los lentes empiezan a recuperar inmediatamente su claridad. La mayoría de las personas que los usan afirman que el ajuste se produce de forma tan rápida y gradual que no lo notan. Pero lo que sí notan es la comodidad visual que le proporcionan las lentes bajo cualquier condición de iluminación.
        %br
        %p
          Los lentes Transitions son compatibles con todos los tipos de montura, incluidas las más modernas. Además, están disponibles en la mayoría de los materiales y diseños: lentes orgánicas o policarbonato y tanto en graduaciones monofocales, bifocales o multifocales progresivos
        %br

.container
  .headline
    %h4
      Tecnología Extraordinaria
  .row.team.margin-bottom-20
    .col-sm-12
      .margin-bottom-10
        %p
          %small
            La tecnología fotocrómica de Transitions® Optical se integra en el propio lente mediante uno de sus dos procesos exclusivos.
        %p
          %small
            El primero se denomina imbibición, que significa absorber, usa el calor para transferir el tinte fotocrómico al propia lente. Una vez completada la imbibición, se aplica un revestimiento resistente a las rayaduras en la superficie del lente.
        %p
          %small
            Algunos materiales para lentes no se embeben con facilidad. En esos casos, se recurre a otro método llamado Trans-Bonding™. Mientras que la técnica de imbibición integra la tecnología fotocrómatica bajo la superficie de la lente, el procedimiento patentado Trans-Bonding la aplica sobre la superficie de la lente.
        %p
          %small
            A diferencia del método empleado por algunos otros tipos de lentes fotocrómaticos, tanto la imbibición como el método Trans-Bonding proporcionan un tono uniforme en toda la superficie del lente, con independencia de los cambios de grosor debidos a la graduación. En Transitions Optical, desarrollaron y adaptaron sus procesos para obtener un rendimiento fotocrómatico óptimo, así como una mayor durabilidad y compatibilidad con otros tratamientos de lentes, como los tratamientos anti reflejos.
            Transitions® Optical es la única empresa de óptica que cuenta con su propia tecnología fotocrómatica. Esto los convierte en líder mundial de confianza: cada segundo, se vende un lente Transitions en el mundo.


  .headline
    %h4
      Lentes Transitions® Signature™
  .row.team.margin-bottom-20
    .col-sm-12
      .margin-bottom-10
        %p
          %small
            Estos lentes están diseñados para adaptarse rápidamente y pasar de ser claros en interiores a oscurecerse por completo bajo un sol intenso, lo que supone una clara ventaja con respecto a los lentes blancos. Las lentes Transitions Signature se adaptan continuamente a los cambios de luz, de modo que siempre tienen el tono exacto que necesitas. 
        %p
          %small
            Son completamente claros en interiores y de noche. Poseen una alta velocidad de desactivación, además de bloquear 100% los rayos UVA y UVB. 
        %p
          %small
            Adecuados para personas de cualquier edad, incluso los niños

  .headline
    %h4
      Lentes Transitions® Xtractive® 
  .row.team.margin-bottom-20
    .col-sm-12
      .margin-bottom-10
        %p
          %small
            Especialmente diseñadas para volverse aún más oscuros en exteriores, estos lentes son una estupenda elección si pasas mucho tiempo bajo una luz solar intensa. Los lentes Transitions XTRActive adoptan una cómoda coloración leve en interiores y se activan moderadamente dentro del automóvil.


  .headline
    %h4
      Dentro del Automovil
  .row.team.margin-bottom-20
    .col-sm-12
      .margin-bottom-10
        %p
          %small
            El parabrisas del automóvil bloquea más del 99% de la luz UV, de modo que la mayoría de los lentes fotocrómaticos no se oscurecen de forma perceptible en el coche.
        %p
          %small
            Los  lentes Transitions XTRActive contienen una fórmula fotocrómatica especialmente diseñada que responde tanto a la luz UV como a la luz visible de longitud de onda corta, con lo que pueden activarse dentro del automóvil.



