.breadcrumbs.margin-bottom-40
  .container
    %h1.pull-left
      Promociones


.row.margin-bottom-40
  .col-md-12
    - if !@gallery_images.empty?
      #slide-wrapper
        #banner
          - @gallery_images.each do |x|
            .oneByOne_item
              =image_tag x.image_url(:slider)
    - else
      .purchase
        .container
          .row
            .col-md-12
              %p
                No hay promociones en este momento.
  .clear.margin-bottom-40