
.breadcrumbs.margin-bottom-40
  .container
    %h1.pull-left
      Servicios
    %ul.pull-right.breadcrumb
      %li 
        %a{href: ""}
          Inicio
      %li.active
        Servicios

.container.canvas
  .row
  .row
    .col-md-1
    .col-md-10
      .row
        
        .col-md-4
          .metro_title
            Biselados
        .col-md-8
          .metro
            %p
              Es el servicio mediante el cual Ocutec corta los lentes de acuerdo a la forma de la montura. Este servicio puede tener muchas variantes de acuerdo al tipo de montura (aro cerrado, semi al aire, al aire, algún corte o modelo especial, etc.)
        
    .col-md-1
  .row
    .col-md-1
    .col-md-10
      .row
        
        .col-md-8
          .metro
            %p
              Es el proceso por el cual los lentes en CR-39 pueden colorearse de acuerdo a la solicitud de su cliente al sumergirse a altas temperaturas en tintes especiales.
        .col-md-4
          .metro_title
            Coloreados
        
    .col-md-1
  .row
    .col-md-1
    .col-md-10
      .row
        
        .col-md-4
          .metro_title
            Descentrado
        .col-md-8
          .metro
            %p
              En el caso de monturas con diámetros grandes se pueden presentar espacios vacios entre la montura y el lente debido a la DIP del paciente. La mejor manera de prevenir estos espacios vacios es desplazar el centro óptico del lente gracias a un tallado especial que produce un efecto prismático llamado descentrado para conseguir la DIP requerida.
        
    .col-md-1
  .row
    .col-md-1
    .col-md-10
      .row
        
        .col-md-8
          .metro
            %p
              Es un tallado especial que se le realiza a los lentes convexos positivos buscando reducir su espesor central y obtener un lente más delgado con menor peso buscando la estética  del paciente.
        .col-md-4
          .metro_title
            Reducción de Diámetro
        
    .col-md-1