.breadcrumbs
  .container
    %h1.pull-left
      = @category.name.html_safe rescue ""
    %ul.pull-right.breadcrumb
      %li

        %a{href: root_path}
          %i.icon-home

      %li
        Línea de Productos

      %li.active
        Tipos de Lentes

/ .row.margin-bottom-40
/ .col-md-12
/ #slide-wrapper
/ #banner
/ .oneByOne_item
/ =image_tag "slider1.jpg"

/ .oneByOne_item
/ =image_tag "slider2.jpg"
- if !@category.description.nil?
  .purchase
    .container
      .row
        .col-md-12
          %p
            = @category.description.html_safe rescue ""
%br
.container
  .search-blocks.search-blocks-top-sea.margin-bottom-20
    .row
      .col-md-8.col-md-offset-2
        %h2
          Lentes Monofocales
        %p
          Son aquellos que nos permiten ver de lejos o cerca por separado corrigiendo defectos visuales como la miopía, hipermetropía y el astigmatismo y la presbicia.
        %br
        %h2
          Lentes Bifocales
        %p
          Son aquellos que nos permiten ver simultáneamente de lejos y cerca.la parte superior sirve para mirar de lejos y el segmento inferior para ver de cerca. produciendo un salto de imagen en cada cambio de mirada.
        %br
        %h2
          Lentes Multifocales Progresivos
        %p
          Son la mejor opción para ver mejor a varias distancias. Presentan un diseño de ultima tecnología en el cual podemos mirar de lejos, distancia intermedia y cerca , sin saltos de imagen, obteniendo una visión confortable y     
          natural.
        -#
          %h2
            = x.name.html_safe rescue ""
          %p
            = x.description.html_safe rescue ""
