.header{
  border-bottom: none;
}
.header .navbar-default .navbar-nav > li > a{
  text-transform: none;
  color: #94A7AC;
  font-size: 15px;
  font-weight: 200;
  //color: #ffffff;
}

.header .navbar-default .navbar-nav > .active > a {
  border-bottom: none;
}

.footer{
  // background: #3A3A3A image-url("paven.png") repeat;
  // background-attachment: fixed;
  margin-top: 20px;
  padding: 0;
  p{
    font-size: 12px;
  }
}

.posts .dl-horizontal dd a{
  font-size: 12px;
}


#logo-header{
  height: 95px;
}

.canvas{
  min-height: 500px;
}


.metro{
  margin: 5px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border: 1px #c7c7c7 solid;
  height: 250px;
  color: #94A7AC;
  font-size: 15px;
  font-weight: 200;
}

.metro_title{
  margin: 5px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  background: #413838;
  height: 250px;
  font-size: 50px;
  font-weight: 200;
  color: #cacaca;
  text-align: center;
  position: relative;
}



.magazine{
  width: 45%;
  min-width: 403px;
  max-width: 525px;
  margin: 10px auto;
  padding: 0;
  position: relative;
  background: url(https://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 403px;
  width: 525px;
  h2{
    text-align: center;
  }
}

div.cycle-slide.cycle-sentinel{
  display: block;
  position: static;
  top: 0px;
  left: 0px;
  z-index: 99;
  opacity: 1;
  visibility: hidden;
}

.center{
  text-align: center;
}

.issuuembed.issuu-isrendered div div:last-child{
  display: none;
}



.copyright{
  padding: 7px 0 7px;
  background-color: #383838;
  .copyright-space{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  border-top: 1px solid #1099cd;
  // background-color: #006BA9;
  p small{
    color: #1099cd;
  }

  margin-top: 150px;
  // border-radius: 10px 10px 0px 0px;
  // -moz-border-radius: 10px 10px 0px 0px;
  // -webkit-border-radius: 10px 10px 0px 0px;
  // border: 0px solid #000000;
  // background: #7d7e7d image-url("paven.png") repeat; /* Old browsers */

  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.wrap{
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 0px 11px 1px;
  -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.0470588);
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.0470588);
}

.overlay{
  opacity: 0.9;
  z-index: -1;

  background: transparent image-url("dot.png");
  background-attachment: fixed;
}

body{
  //background-color: #f9f9f9;
  //background: image-url("breadcrumb.png");
  font-size: 14px;
}

.col-md-3#contacto{
  background: image-url("breadcrumbs.png") repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) -3px 0px 11px 1px;
  -moz-box-shadow: -3px 0px 11px 1px rgba(0,0,0,0.0470588);
  box-shadow: -3px 0px 11px 1px rgba(0,0,0,0.0470588);
}


img.fill{
  width: 100%
}

.banner {
  position: relative;
  width: 100%;
  overflow: auto;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: rgba(255,255,255,.6);
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

  background: #5b4d3d;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.banner ul {
  list-style: none;
  width: 300%;
}

.banner ul li {
  display: block;
  float: left;
  width: 33%;
  min-height: 200px;

  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;

  box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}

.banner .inner {
  padding: 160px 0 110px;
}

.banner h1, .banner h2 {
  font-size: 40px;
  line-height: 52px;

  color: #fff;
}

.banner .btn {
  display: inline-block;
  margin: 25px 0 0;
  padding: 9px 22px 7px;
  clear: both;

  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  border: 2px solid rgba(255,255,255,.4);
  border-radius: 5px;
}

.banner .btn:hover {
  background: rgba(255,255,255,.05);
}

.banner .btn:active {
  -webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  -ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  -o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
  filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
}

.banner .btn, .banner .dot {
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;

  text-indent: -999em;

  border: 2px solid #fff;
  border-radius: 6px;

  cursor: pointer;
  opacity: .4;

  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.banner .dots li.active {
  background: #fff;
  opacity: 1;
}

.banner .arrows {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
}

.banner .arrow {
  display: inline;
  padding-left: 10px;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 767px) {
  // .banner h1, .banner h2 {
  //   font-size: 24px;
  //   line-height: 30px;
  // }
  // .banner ul li {
  //   height: 240px;
  // }
  // .banner .inner {
  //   padding-top: 100px;
  //   padding-bottom: 50px;
  // }
  // .banner p {
  //   font-size: 15px;
  //   width: 80%;
  //   margin: 0 auto;
  // }

  .navbar-collapse.navbar-responsive-collapse{
    border-top: none;
  }

  ul.nav.navbar-nav.navbar-left{
    border-top: none;
    border-bottom: none;
    margin-top: 0px;
  }

  .banner .dots li {
    display: inline-block;
    width: 5px;
    height: 5px;
  }
}

.main-slider{
  width: 100%;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'https://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}