#main-nav-bg
%nav#main-nav
  .navigation 
    %ul.nav.nav-stacked
      %li.active
        %a{href: admin_dashboard_path}
          %i.icon-dashboard
          %span
            Dashboard
      %li
        %a{href: 'index.html'}
          %i.icon-table
          %span
            Catálogo
      %li
        %a{href: 'index.html'}
          %i.icon-list
          %span
            Compras
      %li
        %a{href: 'index.html'}
          %i.icon-shopping-cart
          %span
            Carrito de Compras
     