#main-nav-bg
%nav#main-nav
  .navigation 
    %ul.nav.nav-stacked
      %li.active
        %a{href: admin_dashboard_path}
          %i.icon-dashboard
          %span
            Dashboard
      %li
        %a{class: "dropdown-collapse", href: "#"}
          %i.icon-group
          %span
            Usuarios
          %i.icon-angle-down.angle-down            
        %ul.nav.nav-stacked
          %li
            %a{href: administrators_admin_users_path}
              %i.icon-caret-right
              %span
                Administradores
          %li
            %a{href: customers_admin_users_path}
              %i.icon-caret-right
              %span
                Clientes
          %li
            %a{href: admin_access_requests_path}
              %i.icon-caret-right
              %span
                Solicitudes
            
      %li
        %a{class: "dropdown-collapse", href: "#"}
          %i.icon-truck
          %span
            Ordenes
          %i.icon-angle-down.angle-down            
        %ul.nav.nav-stacked
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span
                Nuevas
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span
                Pendientes
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span
                Completas
          %li
            %a{href: "#"}
              %i.icon-caret-right
              %span
                Todas

      %li
        %a{class: "dropdown-collapse", href: "#"}
          %i.icon-location-arrow
          %span
            Contactos
          %i.icon-angle-down.angle-down            
        %ul.nav.nav-stacked
          %li
            %a{href: edit_main_admin_contacts_path}
              %i.icon-caret-right
              %span
                Principal
          %li
            %a{href: admin_contacts_path}
              %i.icon-caret-right
              %span
                Contactos

     
      %li
        %a{class: "dropdown-collapse", href: "#"}
          %i.icon-edit-sign
          %span
            Contenido
          %i.icon-angle-down.angle-down            
        %ul.nav.nav-stacked
          %li
            %a{href: admin_edit_home_path}
              %i.icon-caret-right
              %span
                Inicio
          %li
            %a{href: panel_admin_main_slider_images_path}
              %i.icon-caret-right
              %span
                Inicio - Slider Principal
          %li
            %a{href: admin_edit_about_us_path}
              %i.icon-caret-right
              %span
                Acerca de la Empresa
          %li
            %a{href: admin_edit_promotion_path}
              %i.icon-caret-right
              %span
                Promociones 
          %li
            %a{href: admin_events_path}
              %i.icon-caret-right
              %span
                Eventos 
          %li
            %a{class: 'dropdown-collapse', href: '#'}
              %i.icon-caret-right
              %span
                Línea de Productos
              %i.icon-angle-down.angle-down
            
            %ul.nav.nav-stacked
              %li
                %a{href: admin_path(1)}
                  %i.icon-caret-right
                  %span
                    Tecnología Digital  
              %li
                %a{href: admin_path(2)}
                  %i.icon-caret-right
                  %span
                    Tallado Convencional   
              %li
                %a{href: admin_path(3)}
                  %i.icon-caret-right
                  %span
                    Tratamientos   
              %li
                %a{href: admin_path(4)}
                  %i.icon-caret-right
                  %span
                    Lentes Future X   
              %li
                %a{href: admin_path(5)}
                  %i.icon-caret-right
                  %span
                    Materiales  
              %li
                %a{href: admin_path(6)}
                  %i.icon-caret-right
                  %span
                    Tipos de Lentes                  
                    

      %li
        %a{href: admin_messages_path}
          %i.icon-envelope
          %span
            Mensajes
      
     
/ %li
/ %a{href: "#"}
/ %i.icon-caret-right
/ %span
/ Revista Online 