!!! 5
/
  [if IE 8]> <html lang="en" class="ie8"> <![endif]
/
  [if IE 9]> <html lang="en" class="ie9"> <![endif]
/
  [if !IE]><!--> <html lang="en"> <!--<![endif]
%html
  %head
    %title Unify | Welcome...

    %meta{:charset => "utf-8"} 
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"} 
    %meta{:content => "", :name => "description"} 
    %meta{:content => "", :name => "author"} 
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .top
      .container

    .header
      .navbar.navbar-default{:role => 'navigation'}
    
    .container
      = yield 
    
    .footer
      .container
    
    .copyright
      .container


